nameOverride: fullstack-dapp

fullnameOverride: fullstack-dapp

imagePullSecrets:
  - name: dockerhub

image:
    repository: radixdlt/fullstack-dapp-example-dapp
    tag: {{ .StateValues.ci.tag }}

enable_db_migrations: true

service:
  port: 3000

  extraPorts:
    - name: pm2-metrics
      port: 9209