image: 
    tag: {{ .StateValues.ci.tag }}

enable_db_migrations: true

params:
  PORT: 3000
  POSTGRES_DATABASE: radquest
  POSTGRES_HOST: radquest-stokenet-rds.rtlj-prod.internal
  POSTGRES_PORT: 5432
  EXPECTED_ORIGIN: https://radquest-stokenet.rtlj-prod.extratools.works
  PUBLIC_DAPP_DEFINITION_ADDRESS: 
  PUBLIC_NETWORK_ID: 2
  PUBLIC_NOTIFICATION_URL: wss://radquest-notification-stokenet.rtlj-prod.extratools.works

secrets:
  - external_secret_name: dapp-postgres-user
    env_variable: "POSTGRES_USER"
    aws_secret_name: "rtlj-prod/eks/radquest/stokenet/postgres"
    aws_secret_key: "postgresqlUsername"
    secret_key: "database-user"

  - external_secret_name: dapp-postgress-pass
    env_variable: "POSTGRES_PASSWORD"
    aws_secret_name: "rtlj-prod/eks/radquest/stokenet/postgres"
    aws_secret_key: "postgresql-password"
    secret_key: "database-password"

  - external_secret_name: dapp-database-url
    env_variable: "DATABASE_URL"
    aws_secret_name: "rtlj-prod/eks/radquest/stokenet/postgres"
    aws_secret_key: "database-url"
    secret_key: "database-url"

  - external_secret_name: dapp-jwt-secret
    env_variable: "JWT_SECRET"
    aws_secret_name: "rtlj-prod/eks/radquest/stokenet/secrets"
    aws_secret_key: "dapp_jwt_secret"
    secret_key: "dapp_jwt_secret"

  - external_secret_name: dapp-mnemonic
    env_variable: "MNEMONIC"
    aws_secret_name: "rtlj-prod/eks/radquest/stokenet/secrets"
    aws_secret_key: "stokenet_mnemonic"
    secret_key: "stokenet_mnemonic"

  - external_secret_name: dapp-twilio-account-sid
    env_variable: "TWILIO_ACCOUNT_SID"
    aws_secret_name: "rtlj-prod/eks/radquest/stokenet/secrets"
    aws_secret_key: "twilio_account_sid"
    secret_key: "twilio_account_sid"

  - external_secret_name: dapp-twilio-auth-token
    env_variable: "TWILIO_AUTH_TOKEN"
    aws_secret_name: "rtlj-prod/eks/radquest/stokenet/secrets"
    aws_secret_key: "twilio_auth_token"
    secret_key: "twilio_auth_token"

  - external_secret_name: dapp-twilio-service-sid
    env_variable: "TWILIO_SERVICE_SID"
    aws_secret_name: "rtlj-prod/eks/radquest/stokenet/secrets"
    aws_secret_key: "twilio_service_sid"
    secret_key: "twilio_service_sid"

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/auth-signin: https://oauth2-proxy.rtlj-prod.extratools.works/oauth2/start
    nginx.ingress.kubernetes.io/auth-url: https://oauth2-proxy.rtlj-prod.extratools.works/oauth2/auth
  hosts:
    - host: radquest-stokenet.rtlj-prod.extratools.works
      paths:
        - path: /
          pathType: ImplementationSpecific

autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 2
  targetCPUUtilizationPercentage: 70
  targetMemoryUtilizationPercentage: 70

resources:
  requests:
    cpu: 50m
    memory: 128Mi
