image: 
    tag: {{ .StateValues.ci.tag }}

params:
  REDIS_HOST: radquest-stokenet-redis.rtlj-prod.internal
  REDIS_PORT: 6379
  REDIS_PASSWORD: ""
  LOG_LEVEL: debug
  PUBLIC_NETWORK_ID: 2

secrets:

ingress:
  enabled: false

autoscaling:
  enabled: false

resources:
  requests:
    cpu: 50m
    memory: 128Mi
