alertmanager:
  env: "dev"
  nameOverride: "fullstack-dapp-example-amcfg"
  slackConfig:
    channel: "feed--alerts-radquest-dev"
  secrets:
    region: eu-west-2
    name: "rdx-works-main-dev/eks/fullstack-dapp-example/demo/alertmanager-integration-keys"
