image: 
    tag: {{ .StateValues.ci.tag }}

params:
  PORT: 3000
  PUBLIC_NETWORK_ID: 2
  PUBLIC_RADQUEST_API_URL: https://radquest-dev.rdx-works-main.extratools.works
  PUBLIC_LOG_LEVEL: debug
  REDIS_HOST: radquest-dev-redis.rdx-works-main.internal
  REDIS_PORT: 6379
  REDIS_PASSWORD: 

secrets:
  - external_secret_name: admin-postgres-url
    env_variable: "DATABASE_URL"
    aws_secret_name: "rdx-works-main-dev/eks/radquest/dev/postgres"
    aws_secret_key: "admin-database-url"
    secret_key: "admin-database-url"

  - external_secret_name: admin-ro-postgres-url
    env_variable: "RO_DATABASE_URL"
    aws_secret_name: "rdx-works-main-dev/eks/radquest/dev/postgres"
    aws_secret_key: "admin-ro-database-url"
    secret_key: "admin-ro-database-url"

  - external_secret_name: admin-jwt-secret
    env_variable: "JWT_SECRET"
    aws_secret_name: "rdx-works-main/eks/radquest/dev/secrets"
    aws_secret_key: "admin_jwt_secret"
    secret_key: "admin_jwt_secret"

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/auth-signin: https://oauth2-proxy.rdx-works-main.extratools.works/oauth2/start
    nginx.ingress.kubernetes.io/auth-url: https://oauth2-proxy.rdx-works-main.extratools.works/oauth2/auth
  hosts:
    - host: radquest-admin-dev.rdx-works-main.extratools.works
      paths:
        - path: /
          pathType: ImplementationSpecific

replicaCount: 1

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 2
  targetCPUUtilizationPercentage: 70
  targetMemoryUtilizationPercentage: 70

resources:
  requests:
    cpu: 50m
    memory: 256Mi

pm2_metrics:
  enabled: true
  port: 9209
