alertmanager:
  env: "dev"
  nameOverride: "radquest-amcfg"
  slackConfig:
    channel: "feed--alerts-radquest-dev"
  secrets:
    region: eu-west-2
    name: "rdx-works-main-dev/eks/radquest/dev/alertmanager-integration-keys"
