image: 
    tag: {{ .StateValues.ci.tag }}

enable_db_migrations: true

params:
  REDIS_HOST: radquest-dev-redis.rdx-works-main.internal
  REDIS_PORT: 6379
  REDIS_PASSWORD: 
  PORT: 3000
  POSTGRES_DATABASE: radquest
  POSTGRES_HOST: radquest-dev-rds.rdx-works-main.internal
  POSTGRES_PORT: 5432
  EXPECTED_ORIGIN: https://radquest-dev.rdx-works-main.extratools.works
  PUBLIC_DAPP_DEFINITION_ADDRESS: 
  PUBLIC_NETWORK_ID: 2
  PUBLIC_NOTIFICATION_URL: wss://radquest-notification-dev.rdx-works-main.extratools.works

secrets:
  - external_secret_name: dapp-postgres-user
    env_variable: "POSTGRES_USER"
    aws_secret_name: "rdx-works-main-dev/eks/radquest/dev/postgres"
    aws_secret_key: "postgresqlUsername"
    secret_key: "database-user"

  - external_secret_name: dapp-postgress-pass
    env_variable: "POSTGRES_PASSWORD"
    aws_secret_name: "rdx-works-main-dev/eks/radquest/dev/postgres"
    aws_secret_key: "postgresql-password"
    secret_key: "database-password"

  - external_secret_name: dapp-database-url
    env_variable: "DATABASE_URL"
    aws_secret_name: "rdx-works-main-dev/eks/radquest/dev/postgres"
    aws_secret_key: "database-url"
    secret_key: "database-url"

  - external_secret_name: dapp-jwt-secret
    env_variable: "JWT_SECRET"
    aws_secret_name: "rdx-works-main/eks/radquest/dev/secrets"
    aws_secret_key: "dapp_jwt_secret"
    secret_key: "dapp_jwt_secret"

  - external_secret_name: dapp-mnemonic
    env_variable: "MNEMONIC"
    aws_secret_name: "rdx-works-main/eks/radquest/dev/secrets"
    aws_secret_key: "stokenet_mnemonic"
    secret_key: "stokenet_mnemonic"

  - external_secret_name: dapp-twilio-account-sid
    env_variable: "TWILIO_ACCOUNT_SID"
    aws_secret_name: "rdx-works-main/eks/radquest/dev/secrets"
    aws_secret_key: "twilio_account_sid"
    secret_key: "twilio_account_sid"

  - external_secret_name: dapp-twilio-auth-token
    env_variable: "TWILIO_AUTH_TOKEN"
    aws_secret_name: "rdx-works-main/eks/radquest/dev/secrets"
    aws_secret_key: "twilio_auth_token"
    secret_key: "twilio_auth_token"

  - external_secret_name: dapp-twilio-service-sid
    env_variable: "TWILIO_SERVICE_SID"
    aws_secret_name: "rdx-works-main/eks/radquest/dev/secrets"
    aws_secret_key: "twilio_service_sid"
    secret_key: "twilio_service_sid"

  - external_secret_name: dapp-mailer-lite-api-key
    env_variable: "MAILER_LITE_API_KEY"
    aws_secret_name: "rdx-works-main/eks/radquest/dev/secrets"
    aws_secret_key: "mailer_lite_api_key"
    secret_key: "mailer_lite_api_key"

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/auth-signin: https://oauth2-proxy.rdx-works-main.extratools.works/oauth2/start
    nginx.ingress.kubernetes.io/auth-url: https://oauth2-proxy.rdx-works-main.extratools.works/oauth2/auth
  hosts:
    - host: radquest-dev.rdx-works-main.extratools.works
      paths:
        - path: /
          pathType: ImplementationSpecific

replicaCount: 1

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 2
  targetCPUUtilizationPercentage: 70
  targetMemoryUtilizationPercentage: 70

resources:
  requests:
    cpu: 50m
    memory: 256Mi

pm2_metrics:
  enabled: true
  port: 9209