image: 
    tag: {{ .StateValues.ci.tag }}

params:
  POSTGRES_DATABASE: radquest
  POSTGRES_HOST: radquest-dev-rds.rdx-works-main.internal
  POSTGRES_PORT: 5432
  NOTIFICATION_INTERNAL_API_HOST: notification
  NOTIFICATION_INTERNAL_API_PORT: 4000
  NOTIFICATION_WEBSOCKET_HOST: 9000
  REDIS_HOST: radquest-dev-redis.rdx-works-main.internal
  REDIS_PORT: 6379
  REDIS_PASSWORD: 
  LOG_LEVEL: debug
  NOTIFICATION_INTERNAL_API_URL: http://notification-http-internal:3001
  PUBLIC_NETWORK_ID: 2

secrets:
  - external_secret_name: worker-postgres-user
    env_variable: "POSTGRES_USER"
    aws_secret_name: "rdx-works-main-dev/eks/radquest/dev/postgres"
    aws_secret_key: "postgresqlUsername"
    secret_key: "workers-database-user"

  - external_secret_name: worker-postgres-pass
    env_variable: "POSTGRES_PASSWORD"
    aws_secret_name: "rdx-works-main-dev/eks/radquest/dev/postgres"
    aws_secret_key: "postgresql-password"
    secret_key: "workers-database-password"

  - external_secret_name: worker-mnemonic
    env_variable: "MNEMONIC"
    aws_secret_name: "rdx-works-main/eks/radquest/dev/secrets"
    aws_secret_key: "stokenet_mnemonic"
    secret_key: "workers_stokenet_mnemonic"

  - external_secret_name: worker-mailer-lite-api-key
    env_variable: "MAILER_LITE_API_KEY"
    aws_secret_name: "rdx-works-main/eks/radquest/dev/secrets"
    aws_secret_key: "mailer_lite_api_key"
    secret_key: "mailer_lite_api_key"

ingress:
  enabled: false

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 2
  targetCPUUtilizationPercentage: 70
  targetMemoryUtilizationPercentage: 70

resources:
  requests:
    cpu: 50m
    memory: 512Mi

pm2_metrics:
  enabled: true
  port: 9209
