image: 
    tag: {{ .StateValues.ci.tag }}

enable_db_migrations: true

params:
  PORT: 3000
  POSTGRES_DATABASE: radquest
  POSTGRES_HOST: postgres-postgresql
  POSTGRES_PORT: 5432
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: secretString123
  DATABASE_URL: "postgresql://postgres:secretString123@postgres-postgresql:5432/radquest?schema=public"
  EXPECTED_ORIGIN: https://radquest-pr-{{ .StateValues.ci.prNumber }}.rdx-works-main.extratools.works
  PUBLIC_DAPP_DEFINITION_ADDRESS: 
  PUBLIC_NETWORK_ID: 2
  PUBLIC_NOTIFICATION_URL: wss://radquest-notification-pr-{{ .StateValues.ci.prNumber }}.rdx-works-main.extratools.works
  JWT_SECRET: FkaGHXoq32rYBcEHwAn2rkhawtUCe4sE

secrets:
  - external_secret_name: dapp-mnemonic
    env_variable: "MNEMONIC"
    aws_secret_name: "rdx-works-main/eks/radquest/dev/secrets"
    aws_secret_key: "stokenet_mnemonic"
    secret_key: "stokenet_mnemonic"

  - external_secret_name: dapp-twilio-account-sid
    env_variable: "TWILIO_ACCOUNT_SID"
    aws_secret_name: "rdx-works-main/eks/radquest/dev/secrets"
    aws_secret_key: "twilio_account_sid"
    secret_key: "twilio_account_sid"

  - external_secret_name: dapp-twilio-auth-token
    env_variable: "TWILIO_AUTH_TOKEN"
    aws_secret_name: "rdx-works-main/eks/radquest/dev/secrets"
    aws_secret_key: "twilio_auth_token"
    secret_key: "twilio_auth_token"

  - external_secret_name: dapp-twilio-service-sid
    env_variable: "TWILIO_SERVICE_SID"
    aws_secret_name: "rdx-works-main/eks/radquest/dev/secrets"
    aws_secret_key: "twilio_service_sid"
    secret_key: "twilio_service_sid"

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/auth-signin: https://oauth2-proxy.rdx-works-main.extratools.works/oauth2/start
    nginx.ingress.kubernetes.io/auth-url: https://oauth2-proxy.rdx-works-main.extratools.works/oauth2/auth
  hosts:
    - host: radquest-pr-{{ .StateValues.ci.prNumber }}.rdx-works-main.extratools.works
      paths:
        - path: /
          pathType: ImplementationSpecific

autoscaling:
  enabled: false

resources:
  requests:
    cpu: 50m
    memory: 128Mi
