/* Typography */
@font-face {
  font-family: 'PP Fragment';
  src: url('/fonts/PPFragment-SerifLight.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Sans';
  src: url('/fonts/DMSans_18pt-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans';
  src: url('/fonts/DMSans_18pt-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans';
  src: url('/fonts/DMSans_18pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans';
  src: url('/fonts/DMSans_24pt-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Jost';
  src: url('/fonts/Jost-Regular.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Jost';
  src: url('/fonts/Jost-Bold.ttf') format('truetype');
}

[theme='jetty'] {
  --color-primary: #6260ff;
  --color-background-dark: #192d3a;
  --color-linen: #fbeee9;

  --color-error: #d92761;
  --color-disabled: #dbd4d1;

  --gradient-2: linear-gradient(67deg, #f9dfcf 0%, #e6b2bb 102.4%);
  --gradient-5: linear-gradient(66.61deg, #f9dfcf 0%, #e6b2bb 102.4%);

  --color-light: #fffbf4;
  --color-dark: #000000;
  --color-white: #fffffff2;

  --backdrop: rgba(0, 0, 0, 0.5);

  --border-radius-xl: 16px;
  --border-radius-2xl: 20px;
  --border-radius-3xl: 40px;
  --border: 1.5px solid;
  --border-lg: 2px solid;

  --font-main: 'DM Sans', sans-serif;
  --font-headers: 'PP Fragment';
}

[theme='letty'] {
  --color-primary: #ff33de;
  --color-inchworm: #9cff6d;
  --color-background-dark: #ffffff80;
  --color-linen: #000000;

  --color-error: #d92761;
  --color-disabled: #6a6a6a;

  --gradient-2: linear-gradient(4.06deg, #0e2130 5.91%, #091a26 91.69%);
  --gradient-5: linear-gradient(66.61deg, #f9dfcf 0%, #e6b2bb 102.4%);

  --color-light: #fffbf4;
  --color-dark: #ffffff;
  --color-white: #ffffff20;

  --backdrop: #313131e5;

  --border-radius-xl: 0px;
  --border-radius-2xl: 0px;
  --border-radius-3xl: 0px;
  --border: 1.5px solid;
  --border-lg: 2px solid;

  --font-main: 'Jost', sans-serif;
  --font-headers: 'Jost';
}

body {
  --text-xxs: 12px;
  --text-xs: 14px;
  --text-sm: 16px;
  --text-md: 20px;
  --text-lg: 26px;
  --text-xl: 32px;
  --text-2xl: 36px;

  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

/* ------------------ */

/* Spacing */
body {
  --spacing-unit: 0.6em;
  --spacing-xs: 0.15rem;
  --spacing-sm: 0.3rem;
  --spacing-md: 0.45rem;
  --spacing-lg: 0.625rem;
  --spacing-xl: 1rem;
  --spacing-2xl: 1.95rem;
  --spacing-3xl: 3.15rem;
  --spacing-4xl: 8.1rem;
}

/* ------------------ */

/* Utility Classes */
.disabled {
  opacity: 50%;
  pointer-events: none;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;

  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.text-title {
  font-family: var(--font-main);
  font-size: var(--text-xl);
  font-style: normal;
  font-weight: var(--font-weight-regular);
}

.text-extra-light {
  font-family: var(--font-main);
  font-size: var(--text-md);
  font-style: normal;
  font-weight: var(--font-weight-extra-light);
  letter-spacing: 0.16px;
}

.text-light {
  font-family: var(--font-main);
  font-size: var(--text-md);
  font-style: normal;
  font-weight: var(--font-weight-light);
  letter-spacing: 0.16px;
}

.text-regular {
  font-family: var(--font-main);
  font-size: var(--text-md);
  font-style: normal;
  font-weight: var(--font-weight-regular);
  letter-spacing: 0.16px;
}

.text-bold {
  font-family: var(--font-main);
  font-size: var(--text-md);
  font-style: normal;
  font-weight: var(--font-weight-bold);
}

.text-label {
  font-family: var(--font-main);
  font-size: var(--text-xs);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.14px;
  text-transform: uppercase;
}

.text-faded {
  opacity: 0.6;
}

.error-text {
  color: var(--color-error);
}

/* ------------------ */

/* Style Reset */
a:link,
a:visited,
a:hover,
a:active,
input:hover,
input:focus {
  text-decoration: none;
}

button {
  all: unset;
  box-sizing: border-box;
}

div {
  box-sizing: border-box;
}

input {
  all: unset;
}

/* ------------------ */

/* Element Styles */
body {
  --radix-connect-button-border-radius: 12px;
  font-family: var(--font-main);
  margin: 0;
  padding: 0;
  background: var(--gradient-2);
}

// Prevent iOS overscroll
html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
}

a {
  cursor: pointer;
}

button {
  cursor: pointer;
}

h1 {
  font-family: var(--font-headers);
  font-size: var(--text-2xl);
  font-weight: var(--font-weight-light);
  color: var(--color-background-dark);
  letter-spacing: 0.0225rem;
}

h2 {
  font-family: var(--font-headers);
  font-size: var(--text-xl);
  font-weight: var(--font-weight-light);
  color: var(--color-background-dark);
  letter-spacing: 0.02rem;
  line-height: 2rem;
}

h3 {
  font-family: var(--font-headers);
  font-size: var(--text-lg);
  font-weight: var(--font-weight-light);
  color: var(--color-background-dark);
  letter-spacing: 0.0175rem;
  line-height: 2.25rem;
}

* {
  touch-action: manipulation;
}
