/* Typography */
body {
  --text-xxs: 12px;
  --text-xs: 14px;
  --text-sm: 16px;
  --text-md: 20px;
  --text-lg: 26px;
  --text-xl: 32px;
  --text-2xl: 36px;

  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

/* ------------------ */

/* Spacing */
body {
  --spacing-unit: 0.6em;
  --spacing-xs: 0.15rem;
  --spacing-sm: 0.3rem;
  --spacing-md: 0.45rem;
  --spacing-lg: 0.625rem;
  --spacing-xl: 1rem;
  --spacing-2xl: 1.95rem;
  --spacing-3xl: 3.15rem;
  --spacing-4xl: 8.1rem;
}

/* ------------------ */

/* Utility Classes */
.disabled {
  opacity: 50%;
  pointer-events: none;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;

  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.text-title {
  font-family: var(--font-main);
  font-size: var(--text-xl);
  font-style: normal;
  font-weight: var(--font-weight-regular);
}

.text-extra-light {
  font-family: var(--font-main);
  font-size: var(--text-md);
  font-style: normal;
  font-weight: var(--font-weight-extra-light);
  letter-spacing: 0.16px;
}

.text-light {
  font-family: var(--font-main);
  font-size: var(--text-md);
  font-style: normal;
  font-weight: var(--font-weight-light);
  letter-spacing: 0.16px;
}

.text-regular {
  font-family: var(--font-main);
  font-size: var(--text-md);
  font-style: normal;
  font-weight: var(--font-weight-regular);
  letter-spacing: 0.16px;
}

.text-bold {
  font-family: var(--font-main);
  font-size: var(--text-md);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  letter-spacing: -0.48px;
}

.text-label {
  font-family: var(--font-main);
  font-size: var(--text-xs);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.14px;
  text-transform: uppercase;
}

.text-faded {
  opacity: 0.6;
}

.error-text {
  color: var(--color-error);
}

/* ------------------ */

/* Style Reset */
a:link,
a:visited,
a:hover,
a:active,
input:hover,
input:focus {
  text-decoration: none;
}

button {
  all: unset;
  box-sizing: border-box;
}

div {
  box-sizing: border-box;
}

input {
  all: unset;
}

/* ------------------ */

/* Element Styles */
body {
  --radix-connect-button-border-radius: 12px;
  font-family: var(--font-main);
  margin: 0;
  padding: 0;
  background: var(--gradient-2);
}

// Prevent iOS overscroll
html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
}

a {
  cursor: pointer;
}

button {
  cursor: pointer;
}

h1 {
  font-family: var(--font-headers);
  font-size: var(--text-2xl);
  font-weight: var(--font-weight-light);
  color: var(--color-background-dark);
  letter-spacing: 0.0225rem;
}

h2 {
  font-family: var(--font-headers);
  font-size: var(--text-xl);
  font-weight: var(--font-weight-light);
  color: var(--color-background-dark);
  letter-spacing: 0.02rem;
  line-height: 2rem;
}

h3 {
  font-family: var(--font-headers);
  font-size: var(--text-lg);
  font-weight: var(--font-weight-light);
  color: var(--color-background-dark);
  letter-spacing: 0.0175rem;
  line-height: 2.25rem;
}

* {
  touch-action: manipulation;
}
