@font-face {
  font-family: 'Jost';
  src: url('/fonts/Jost-Regular.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Jost';
  src: url('/fonts/Jost-Bold.ttf') format('truetype');
}

body {
  --color-primary: #ff33de;
  --color-inchworm: #9cff6d;
  --color-background-dark: #ffffff80;
  --color-linen: #000000;

  --color-error: #d92761;
  --color-disabled: #6a6a6a;

  --gradient-2: linear-gradient(4.06deg, #0e2130 5.91%, #091a26 91.69%);
  --gradient-5: linear-gradient(66.61deg, #f9dfcf 0%, #e6b2bb 102.4%);

  --color-light: #fffbf4;
  --color-dark: #ffffff;
  --color-white: #ffffff20;

  --backdrop: #313131e5;
}

body {
  --border-radius-xl: 0px;
  --border-radius-2xl: 0px;
  --border-radius-3xl: 0px;
  --border: 1.5px solid;
  --border-lg: 2px solid;
}

body {
  --font-main: 'Jost', sans-serif;
  --font-headers: 'Jost';
}
