alertmanager:
  env: "mainnet"
  nameOverride: "radquest-amcfg"
  slackConfig:
    channel: "feed--alerts-radquest-mainnet"
  secrets:
    region: eu-west-2
    name: "rtlj-prod/eks/radquest/mainnet/alertmanager-integration-keys"
