image: 
    tag: {{ .StateValues.ci.tag }}

enable_db_migrations: true

params:
  PORT: 3000
  POSTGRES_DATABASE: radquest
  POSTGRES_HOST: radquest-mainnet-rds.rtlj-prod.internal
  POSTGRES_PORT: 5432
  EXPECTED_ORIGIN: https://radquest.radixdlt.com
  PUBLIC_DAPP_DEFINITION_ADDRESS: 
  PUBLIC_NETWORK_ID: 1
  PUBLIC_NOTIFICATION_URL: wss://radquest-notification.radixdlt.com

secrets:
  - name: postgres-user
    variable: "POSTGRES_USER"
    path: "rtlj-prod/eks/radquest/mainnet/postgres"
    secretProperty: "postgresqlUsername"
    secretName: "database-user"
  - name: database-url-v2
    variable: "POSTGRES_PASSWORD"
    path: "rtlj-prod/eks/radquest/mainnet/postgres"
    secretProperty: "postgresql-password"
    secretName: "database-password"
  - name: database-url
    variable: "DATABASE_URL"
    path: "rtlj-prod/eks/radquest/mainnet/postgres"
    secretProperty: "database-url"
    secretName: "database-url"
  - name: dapp-jwt-secret
    variable: "JWT_SECRET"
    path: "rtlj-prod/eks/radquest/mainnet/secrets"
    secretProperty: "dapp_jwt_secret"
    secretName: "dapp_jwt_secret"
  - name: mnemonic
    variable: "MNEMONIC"
    path: "rtlj-prod/eks/radquest/mainnet/secrets"
    secretProperty: "mainnet_mnemonic"
    secretName: "mainnet_mnemonic"
  - name: twilio-account-sid
    variable: "TWILIO_ACCOUNT_SID"
    path: "rtlj-prod/eks/radquest/mainnet/secrets"
    secretProperty: "twilio_account_sid"
    secretName: "twilio_account_sid"
  - name: twilio-auth-token
    variable: "TWILIO_AUTH_TOKEN"
    path: "rtlj-prod/eks/radquest/mainnet/secrets"
    secretProperty: "twilio_auth_token"
    secretName: "twilio_auth_token"
  - name: twilio-service-sid
    variable: "TWILIO_SERVICE_SID"
    path: "rtlj-prod/eks/radquest/mainnet/secrets"
    secretProperty: "twilio_service_sid"
    secretName: "twilio_service_sid"

ingress:
  enabled: false
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/auth-signin: https://oauth2-proxy.rtlj-prod.extratools.works/oauth2/start
    nginx.ingress.kubernetes.io/auth-url: https://oauth2-proxy.rtlj-prod.extratools.works/oauth2/auth
  hosts:
    - host: radquest.radixdlt.com
      paths:
        - path: /
          pathType: ImplementationSpecific

autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 2
  targetCPUUtilizationPercentage: 70
  targetMemoryUtilizationPercentage: 70

resources:
  requests:
    cpu: 50m
    memory: 128Mi
