image: 
    tag: {{ .StateValues.ci.tag }}

enable_db_migrations: true

params:
  REDIS_HOST: radquest-mainnet-redis.rtlj-prod.internal
  REDIS_PORT: 6379
  REDIS_PASSWORD: 
  PORT: 3000
  POSTGRES_DATABASE: radquest
  POSTGRES_HOST: radquest-mainnet-rds.rtlj-prod.internal
  POSTGRES_READ: radquest-mainnet-rds-ro.rtlj-prod.internal
  POSTGRES_PORT: 5432
  EXPECTED_ORIGIN: https://radquest.io
  PUBLIC_DAPP_DEFINITION_ADDRESS: account_rdx12xkqkcxqzkuc0xnsme9etvttmwfz8aqnhpwc0ygv8tnnpdw2v5cfzd
  PUBLIC_NETWORK_ID: 1
  PUBLIC_NOTIFICATION_URL: wss://notification.radquest.io
  MAINTENANCE_MODE: true
  GATEWAY_URL: "http://babylon-mainnet-active-ng.internal-dns:8080"
  RO_DATABASE_URL: postgresql://$(POSTGRES_USER):$(POSTGRES_PASSWORD)@$(POSTGRES_READ):$(POSTGRES_PORT)/$(POSTGRES_DATABASE)?schema=public

secrets:
  - external_secret_name: dapp-postgres-user
    env_variable: "POSTGRES_USER"
    aws_secret_name: "rtlj-prod/eks/radquest/mainnet/postgres"
    aws_secret_key: "postgresqlUsername"
    secret_key: "database-user"

  - external_secret_name: dapp-postgress-pass
    env_variable: "POSTGRES_PASSWORD"
    aws_secret_name: "rtlj-prod/eks/radquest/mainnet/postgres"
    aws_secret_key: "postgresql-password"
    secret_key: "database-password"

  - external_secret_name: dapp-database-url
    env_variable: "DATABASE_URL"
    aws_secret_name: "rtlj-prod/eks/radquest/mainnet/postgres"
    aws_secret_key: "database-url"
    secret_key: "database-url"

  - external_secret_name: dapp-jwt-secret
    env_variable: "JWT_SECRET"
    aws_secret_name: "rtlj-prod/eks/radquest/mainnet/secrets"
    aws_secret_key: "dapp_jwt_secret"
    secret_key: "dapp_jwt_secret"

  - external_secret_name: dapp-twilio-account-sid
    env_variable: "TWILIO_ACCOUNT_SID"
    aws_secret_name: "rtlj-prod/eks/radquest/mainnet/secrets"
    aws_secret_key: "twilio_account_sid"
    secret_key: "twilio_account_sid"

  - external_secret_name: dapp-twilio-auth-token
    env_variable: "TEMP_DISABLE_TWILIO_AUTH_TOKEN"
    aws_secret_name: "rtlj-prod/eks/radquest/mainnet/secrets"
    aws_secret_key: "twilio_auth_token"
    secret_key: "twilio_auth_token"

  - external_secret_name: dapp-twilio-service-sid
    env_variable: "TWILIO_SERVICE_SID"
    aws_secret_name: "rtlj-prod/eks/radquest/mainnet/secrets"
    aws_secret_key: "twilio_service_sid"
    secret_key: "twilio_service_sid"

  - external_secret_name: dapp-mailer-lite-api-key
    env_variable: "MAILER_LITE_API_KEY"
    aws_secret_name: "rtlj-prod/eks/radquest/mainnet/secrets"
    aws_secret_key: "mailer_lite_api_key"
    secret_key: "mailer_lite_api_key"

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: nginx
  hosts:
    - host: radquest.io
      paths:
        - path: /
          pathType: ImplementationSpecific

autoscaling:
  enabled: true
  minReplicas: 3
  maxReplicas: 30
  targetCPUUtilizationPercentage: 70
  targetMemoryUtilizationPercentage: 70

resources:
  requests:
    cpu: 2
    memory: 2Gi

pm2_metrics:
  enabled: true
  port: 9209

metrics:
  alert_labels:
    cluster: rtlj-prod
    env: mainnet
